*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    margin: 0;
}

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(52deg, rgba(0, 0, 0, 1) 0%, rgba(16, 20, 27, 1) 52%, rgba(23, 29, 38, 1) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.logo{
    width: 75px;
}
.top-logo{
    display: flex;
    justify-content: center;
    padding-bottom: 48px;
    margin-bottom: 12px;
}
.sub-heading{
    text-align: center;
    color: #77797d;

}